In [3]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
#import tensorflow as tf

In [14]:
data = pd.read_csv('../data/healthcare-dataset-stroke-data.csv')
data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [20]:
from sklearn.model_selection import train_test_split
df , df_test = train_test_split(data , test_size=0.2 , random_state=42)
df.shape , df_test.shape

((4088, 12), (1022, 12))

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4088 entries, 802 to 860
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4088 non-null   int64
 1   gender             4088 non-null   object
 2   age                4088 non-null   float64
 3   hypertension       4088 non-null   int64
 4   heart_disease      4088 non-null   int64
 5   ever_married       4088 non-null   object
 6   work_type          4088 non-null   object
 7   Residence_type     4088 non-null   object
 8   avg_glucose_level  4088 non-null   float64
 9   bmi                3932 non-null   float64
 10  smoking_status     4088 non-null   object
 11  stroke             4088 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 415.2+ KB

In [22]:
df.nunique()

id                   4088
gender                  2
age                   103
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    3320
bmi                   405
smoking_status          4
stroke                  2
dtype: int64